snippet :build:
🏗️
endsnippet

snippet :ci:
🔧
endsnippet

snippet :docs:
📝
endsnippet

snippet :feat:
✨
endsnippet

snippet :fix:
🐛
endsnippet

snippet :perf:
⚡️
endsnippet

snippet :refactor:
♻️
endsnippet

snippet :style:
🎨
endsnippet

snippet :test:
✅
endsnippet

snippet :wip:
🚧
endsnippet

snippet :loc:
🌐
endsnippet

